<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nada.bakingapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RecipeDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation"
            android:parentActivityName=".Activities.MainActivity" />

        <receiver android:name=".Widgets.IngredientWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredient_widget_info" />
        </receiver>

        <service
            android:name=".Widgets.WidgetUpdateService"
            android:exported="false">
            <intent-filter>
                <action android:name="update_app_widget" />
                <action android:name="update_app_widget_list" />
            </intent-filter>
        </service>

        <service
            android:name=".Widgets.ListViewWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>